<div class="p-12">
  <div class="grid grid-cols-1 lg:grid-cols-1 gap-6 mb-6">
    <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md lg:col-span-2">
      <div class="flex justify-between mb-4 items-start">
        <div class="font-medium">Surveys</div>
      </div>
      <div class="overflow-x-auto">
        <table id="pagination-table">
          <thead>
            <tr>
              <th>
                <span class="flex items-center">
                  surveyName
                </span>
              </th>
              <th>
                <span class="flex items-center">
                  Actions
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            @for (item of tableData; track $index) {
            <tr>
              <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ item.surveyName }}</td>
              <td><button (click)="editItem(item.surveyId)" class="px-4 py-2 bg-yellow-500 text-white rounded">Edit</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

